.movielist-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.movies-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.movie {
  width: 300px;
  margin: 10px;
}

.movie-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

input {
  padding: 10px;
  border-radius: 5px;
}
